.main {
  width: 700px;
  margin: 0 auto;
}

.number {
  width: 20px;
  color: black;
  padding: 20px;
  display: inline-block;
  margin: 5px;
  vertical-align: bottom;
  background-color: gray;
  text-align: center;
  &-small {
    height: 33px;
  }
  &-medium {
    height: 66px;
  }
  &-large {
    height: 100px;
  }
}

.pivot {
  background-color: yellow;
}

.store {
  background-color: red;
}

.visited {
  background-color: blue;
}

.active-line {
  background-color: black;
  color: white;
}

.algorithm {
  font-family: 'Ubuntu Mono';
  font-size: 17px;
}

h1 {
  font-family: 'Ubuntu Mono';
  font-size: 30px;
  padding: 10px 0px;
}
.data {
  padding-top: 20px;
  height: 180px;
}