.main {
  width: 700px;
  margin: 0 auto;
}

.number {
  width: 20px;
  color: black;
  padding: 20px;
  display: inline-block;
  margin: 5px;
  vertical-align: bottom;
  background-color: gray;
  &-small {
    height: 33px;
  }
  &-medium {
    height: 66px;
  }
  &-large {
    height: 100px;
  }
}

.pivot {
  background-color: yellow;
}

.store {
  background-color: red;
}

.visited {
  background-color: blue;
}

.active-line {
  background-color: black;
  color: white;
}