html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"], a {
  cursor: pointer; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f5f9; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.main {
  padding: 40px;
  width: 1500px;
  margin: 0 auto; }

.main-visualizers {
  display: flex; }

.number {
  width: 20px;
  color: black;
  padding: 10px;
  display: inline-block;
  margin: 5px;
  vertical-align: bottom;
  background-color: #A0DDE6;
  text-align: center; }

.right > .number {
  animation: rightArrayslideIn 1s ease; }

.left > .number {
  animation: leftArrayslideIn 1s ease; }

@keyframes rightArrayslideIn {
  0% {
    transform: translateX(450px); }
  100% {
    transform: translateX(0); } }
@keyframes leftArrayslideIn {
  0% {
    transform: translateX(400px); }
  100% {
    transform: translateX(0); } }
#yellow {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  color: yellow; }

#green {
  color: #5C946E; }

.pivot {
  background-color: yellow; }

.visited {
  background-color: #5C946E; }

.active-line {
  background-color: black;
  color: white; }

.algorithm {
  font-family: 'Ubuntu Mono';
  font-size: 17px;
  width: 900px;
  margin: 0 auto; }

h1 {
  font-family: 'Ubuntu Mono';
  font-size: 30px;
  padding: 10px 0px; }

.data {
  padding-top: 10px;
  width: 600px;
  margin: 0 auto; }

.sub-arrays {
  display: flex;
  justify-content: space-between; }

.buttons {
  padding-left: 40px; }

.spacer {
  height: 300px;
  width: 1px;
  padding: 0;
  background-color: transparent;
  display: inline-block; }

.spacer-data {
  height: 300px;
  width: 1px;
  padding: 0;
  background-color: transparent;
  display: inline-block; }

button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  margin-right: 5px; }
  button:hover {
    border: 1px solid #A0DDE6;
    color: #A0DDE6; }

h2 {
  font-family: 'Ubuntu Mono';
  font-size: 20px;
  margin-bottom: 10px; }

.stack-wrapper {
  padding: 0px 40px; }

.stack {
  width: 290px;
  position: relative;
  height: 150px;
  border: 1px solid black;
  padding: 5px;
  margin: 0 auto; }
  .stack .stack-inner {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 0; }

.instructions {
  padding: 40px; }

strong {
  font-weight: 600; }

/*# sourceMappingURL=output.css.map */
